@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Pixelify Sans';
    font-weight: 300;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Pixelify Sans';
    font-weight: 700;
  }

  html {
    font-size: 100%;
  }

  /* 16px */

  h1 {
    font-size: 4.210rem;
    /* 67.36px */
  }

  h2 {
    font-size: 3.158rem;
    /* 50.56px */
  }

  h3 {
    font-size: 2.369rem;
    /* 37.92px */
  }

  h4 {
    font-size: 1.777rem;
    /* 28.48px */
  }

  h5 {
    font-size: 1.333rem;
    /* 21.28px */
  }

  small {
    font-size: 0.750rem;
    /* 12px */
  }
}

@theme {
  --color-text: #060709;
  --color-background: #f4f7fb;
  --color-primary: #6f849f;
  --color-secondary: #c0a6c5;
  --color-accent: #d56262;

  --color-dark-text: #f6f7f9;
  --color-dark-background: #04070b;
  --color-dark-primary: #607590;
  --color-dark-secondary: #553a59;
  --color-dark-accent: #9d2a2a;
}